# Backend Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Temporary files
tmp/
temp/

# Build directories
dist/
build/

# Coverage reports
coverage/

# IDE or Editor files
.idea/
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db
